body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.main {
  margin-left: auto;
  margin-right: auto;

    .smallColumn {
      width: 20%;
      height: 600px;
      padding: 0 10px 0 10px;
      float: left;

        img {
          position: relative;
          width: 230px;
          height: 230px;
          border-radius: 5px;
        }

        .fullName {
          width: 230px;
          height: 49px;
          margin: 0;
          padding: 0;
          font-size: 26pt;
        }
        .userName {
          width: 230px;
          height: 20px;
          margin: 0;
          font-size: 16pt;
          padding: 0 0 5px 0;
          border-bottom: solid black 1px;
          line-height: .5px;
        }
        ul {
          list-style: none;
          overflow: hidden;
          padding: 5px 0 10px 0;
          border-bottom: solid black 1px;
        }
    }

    .bigColumn {
      width: 75%;
      height: 800px;
      border: solid blue;
      padding: 0 10px 0 10px;
      float: right;

        .tabs {
          list-style: none;
        }
    }
}
