body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.main {
  margin-left: auto;
  margin-right: auto;

  .mobileTabs {
    display: none;
  }

    .smallColumn {
      width: 20%;
      height: 600px;
      padding: 0 10px 0 10px;
      float: left;

        img {
          position: relative;
          width: 230px;
          height: 230px;
          border-radius: 5px;
        }

        .fullName {
          width: 230px;
          height: 49px;
          margin: 0;
          padding: 0;
          font-size: 1vw;
        }
        .userName {
          width: 230px;
          height: 20px;
          margin: 0;
          font-size: 16pt;
          padding: 0 0 5px 0;
          border-bottom: solid black 1px;
          line-height: .5px;
        }
        ul {
          list-style: none;
          overflow: hidden;
          padding: 5px 0 10px 0;
          border-bottom: solid black 1px;
        }
    }

    .bigColumn {
      width: 75%;
      height: 800px;
      padding: 0 10px 0 10px;
      float: right;

        .tabs {
          list-style: none;
          border-bottom: solid 1px;

            li {
              display:inline-block;
              line-height:44px;

              a {
                margin: 10px;
                padding: 4px;
              }

            }

              li .active {
                color: yellow;
                border-bottom: 0px;
              }
        }

        #tab2 {
          padding-top: 10px;

          .spoonKnife {
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
          }
          .oc-gh-io {
            border-bottom: 1px solid gray;
          }
          .helloWorld {
            border-bottom: 1px solid gray;
          }
          p {
            font-size: 12px;
            color: gray;
          }
          a {
            text-decoration: none;
          }
          span.octicon {
            padding-right: 10px;
          }
          // span.star-count {
          //   float: right;
          // }
        }
    }
}
*, *:after, *:before {
  box-sizing: border-box;
}
// ul.tabs.active {
//   border-top: solid black 1px;
//   border-right: solid black 1px;
//   border-left: solid black 1px;
// }
