@media screen and (max-width: 736px) {
  .main {
    display: block;
    display: table;
    content: " ";
    clear: both;

    .mobileTabs{
      display: inherit;
      border-bottom: solid 1px gray;
      padding: 0.5em 2em;

      a[href] {
        position: relative;
        display: inline-block;
        bottom: -8px;
        padding: 1ex .5em;
      }
    }
    .smallColumn {
      width: 100%;
      overflow: hidden;
      float: left;

      h1, p, ul {
        // position: absolute;
        // float: right;
      }
      img {
        width: 40%;
        float: left;
      }
    }

    .bigColumn {
      width: 100%;

      .tabs, #tab1, #tab3, .searchBar {
        display: none;
      }
    }
  }
}
